/*1312903688,176833976*/

.sp_3b4d1a{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yO/r/UQ-3tYuRB15.png);background-repeat:no-repeat;display:inline-block;height:178px;width:274px}
.sx_81fb39{background-position:-0px -0px}
.sx_f7dba8{height:108px;background-position:-0px -179px}
.sp_5hids0{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yT/r/dDagbUnwf34.png);background-repeat:no-repeat;display:inline-block;height:88px;width:138px}
.sx_d1ca54{background-position:-0px -0px}
.sx_b43937{background-position:-0px -89px}

#bootloader_LjuBy { height: 42px; }