/*1313383770,169775814*/

.sp_264sql{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yc/r/HgmUmQP9BTF.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_fb0704{height:10px;background-position:-119px -136px}
.sx_983073{width:11px;height:11px;background-position:-4px -8px}
.sx_126b70{width:17px;height:17px;background-position:-0px -118px}
.sx_705e74{width:4px;height:8px;background-position:-191px -54px}
.sx_25caa3{width:4px;height:8px;background-position:-191px -45px}
.sx_f8a076{width:4px;height:8px;background-position:-191px -36px}
.sx_dc63ce{width:4px;height:8px;background-position:-191px -27px}
.sx_6d7699{width:13px;height:14px;background-position:-0px -170px}
.sx_34055f{height:14px;background-position:-68px -136px}
.sx_7b6899{background-position:-155px -118px}
.sx_b81609{background-position:-138px -118px}
.sx_3dd304{background-position:-121px -118px}
.sx_e0933d{width:9px;height:5px;background-position:-179px -136px}
.sx_5ee68b{height:17px;background-position:-53px -118px}
.sx_6d86e4{background-position:-104px -118px}
.sx_d72f08{height:15px;background-position:-34px -136px}
.sx_50b80f{height:10px;background-position:-136px -136px}
.sx_7da246{width:13px;height:10px;background-position:-153px -136px}
.sx_23831d{width:12px;height:11px;background-position:-43px -153px}
.sx_290e3b{width:15px;height:13px;background-position:-14px -153px}
.sx_bb1a3b{width:10px;background-position:-189px -118px}
.sx_106b89{background-position:-70px -118px}
.sx_9d4033{height:15px;background-position:-51px -136px}
.sx_039671{width:13px;background-position:-0px -153px}
.sx_74e748{background-position:-87px -118px}
.sx_52ceda{height:14px;background-position:-85px -136px}
.sx_e84b91{width:17px;height:17px;background-position:-18px -118px}
.sx_411a1c{height:15px;background-position:-17px -136px}
.sx_4e16d3{background-position:-172px -118px}
.sx_dce461{height:17px;background-position:-36px -118px}
.sx_4900db{width:11px;height:9px;background-position:-167px -136px}
.sx_7f576d{background-position:-0px -136px}
.sx_16c1dc{height:10px;background-position:-102px -136px}
.sx_e0db44{width:10px;height:10px;background-position:-56px -153px}
.sx_ce17e4{width:1px;height:1px;background-position:-196px -27px}
.sx_5b20ad{width:12px;height:12px;background-position:-30px -153px}
.sx_0f2d17{width:5px;height:3px;background-position:-191px -63px}
.sx_c60685{width:190px;height:90px;background-position:-0px -27px}
.sp_2sus5d{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yg/r/EgUsLqoZG2m.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b89072{background-position:-53px -245px}
.selected .sx_b89072{background-position:-37px -245px}
.sx_db4f78{background-position:-86px -245px}
.selected .sx_db4f78{background-position:-70px -245px}
.sx_8505b0{background-position:-119px -245px}
.selected .sx_8505b0{background-position:-103px -245px}
.sx_73b6f8{width:26px;height:24px;background-position:-0px -264px}
.sx_c9388d{width:20px;height:24px;background-position:-0px -313px}
.sx_1b04eb{width:7px;height:14px;background-position:-493px -245px}
.sx_b9f19c{width:7px;height:14px;background-position:-493px -260px}
.sx_a81a6a{width:8px;height:12px;background-position:-87px -264px}
.sx_913f4c{width:7px;height:14px;background-position:-493px -275px}
.sx_b6e025{width:7px;height:14px;background-position:-493px -290px}
.sx_3a0b44{width:10px;height:14px;background-position:-167px -245px}
.selected .sx_3a0b44{background-position:-157px -245px}
.sx_61f4d4{width:9px;height:14px;background-position:-36px -264px}
.selected .sx_61f4d4{background-position:-27px -264px}
.sx_5b7939{width:10px;height:14px;background-position:-146px -245px}
.selected .sx_5b7939{background-position:-136px -245px}
.sx_2a3cee{background-position:-230px -305px}
.sx_f9171c{background-position:-247px -305px}
.sx_175b86{background-position:-264px -305px}
.sx_c2b7e1{width:15px;background-position:-383px -305px}
.sx_86f0a5{background-position:-366px -305px}
.sx_aad79b{background-position:-349px -305px}
.sx_d8b8a7{background-position:-332px -305px}
.sx_135f8b{background-position:-315px -305px}
.sx_7ab56b{width:18px;height:18px;background-position:-18px -245px}
.sx_7ab56b:hover{background-position:-0px -245px}
.sx_abeca9{background-position:-298px -305px}
.sx_7ddccd{background-position:-281px -305px}
.sx_bd8f67{width:10px;height:9px;background-position:-96px -264px}
.sx_58e06f{width:11px;height:13px;background-position:-178px -245px}
.sx_7fd026{width:9px;height:13px;background-position:-57px -264px}
.sx_026b09{width:10px;height:13px;background-position:-46px -264px}
.sx_6c3735{width:9px;height:13px;background-position:-67px -264px}
.sx_5825f7{width:9px;height:13px;background-position:-77px -264px}
.sx_e4c913{width:500px;height:48px;background-position:-0px -196px}
.sx_ff22c7{width:500px;height:48px;background-position:-0px -147px}
.sx_d39f80{width:500px;height:48px;background-position:-0px -98px}
.sx_a46be4{width:500px;height:48px;background-position:-0px -49px}
.sx_a259d4{width:500px;height:48px;background-position:-0px -0px}
.sp_4vsa9y{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yo/r/n50vukw7Kj3.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_003cde{background-position:-0px -0px}
.sx_cef16b{background-position:-0px -17px}
.sx_29546c{background-position:-0px -34px}
.sx_4c369e{background-position:-0px -51px}
.sx_825568{background-position:-0px -68px}
.sx_a3844e{background-position:-0px -85px}
.sx_8c7300{background-position:-0px -102px}
.sp_7awkvp{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yI/r/b97i5XsKSL7.png);background-repeat:no-repeat;display:inline-block;height:31px;width:24px}
.sx_fa3a52{width:16px;height:16px;background-position:-287px -15px}
.selected .sx_fa3a52{background-position:-271px -15px}
.sx_85392d{width:7px;height:12px;background-position:-304px -15px}
.sx_64ca1c{width:7px;height:7px;background-position:-292px -115px}
.sx_b7e804{width:26px;height:24px;background-position:-100px -267px}
.sx_cca57d{width:26px;height:24px;background-position:-283px -235px}
.sx_3225d8{width:11px;height:14px;background-position:-300px -0px}
.sx_d4da93{width:22px;height:25px;background-position:-0px -299px}
.sx_f13bf0{width:22px;height:25px;background-position:-69px -299px}
.sx_d168f0{width:21px;height:25px;background-position:-138px -299px}
.sx_eb86da{width:21px;height:25px;background-position:-160px -299px}
.sx_556b07{width:22px;height:25px;background-position:-115px -299px}
.sx_fa4e2d{width:22px;height:25px;background-position:-92px -299px}
.sx_33cfe1{width:7px;height:14px;background-position:-0px -183px}
.sx_9879dc{width:7px;height:14px;background-position:-0px -213px}
.sx_8d0812{width:14px;height:14px;background-position:-296px -48px}
.sx_11f7cb{width:8px;height:12px;background-position:-296px -77px}
.sx_c6daa9{width:17px;height:16px;background-position:-271px -96px}
.sx_e5b4d6{width:7px;height:14px;background-position:-0px -153px}
.sx_3ebdee{width:7px;height:14px;background-position:-0px -123px}
.sx_768d46{width:11px;height:12px;background-position:-0px -23px}
.sx_825048{width:22px;height:25px;background-position:-46px -299px}
.sx_cecf39{width:22px;height:25px;background-position:-23px -299px}
.sx_5b1922{width:16px;height:16px;background-position:-289px -96px}
.sx_8666ed{width:10px;height:15px;background-position:-296px -32px}
.sx_59c74a{background-position:-271px -32px}
.sx_083c75{background-position:-271px -64px}
.sx_406c10{height:30px;background-position:-233px -235px}
.sx_e31b9c{background-position:-267px -115px}
.sx_e71ec0{background-position:-267px -147px}
.sx_8059c2{background-position:-267px -179px}
.sx_086d68{height:29px;background-position:-258px -235px}
.sx_2e7a40{background-position:-0px -267px}
.sx_a3b8ad{background-position:-25px -267px}
.sx_8f0f1f{background-position:-50px -267px}
.sx_7bddf1{height:30px;background-position:-208px -235px}
.sx_80dd1e{background-position:-75px -267px}
.sx_a94b79{width:7px;height:4px;background-position:-296px -90px}
.sx_7ade34{width:7px;height:4px;background-position:-304px -90px}
.sx_739509{width:103px;background-position:-0px -235px}
.sx_20e5de{width:103px;height:30px;background-position:-104px -235px}
.sx_533026{width:9px;height:13px;background-position:-296px -63px}
.sx_fa6be8{width:22px;height:19px;background-position:-267px -211px}
.sp_7i9drp{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yh/r/exdyUfVOjrJ.png);background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_8c7f6a{width:14px;height:14px;background-position:-99px -152px}
.sx_c98263{width:19px;height:4px;background-position:-66px -147px}
.sx_66d6b3{width:10px;height:10px;background-position:-99px -169px}
.sx_ec5c21{width:10px;height:10px;background-position:-88px -169px}
.sx_c4a425{width:10px;height:10px;background-position:-77px -169px}
.sx_5afab9{width:10px;height:10px;background-position:-66px -169px}
.sx_5de29b{width:13px;height:8px;background-position:-156px -152px}
.sx_ebe190{width:16px;height:16px;background-position:-66px -152px}
.sx_ac0a5f{width:11px;height:12px;background-position:-9px -180px}
.sx_256fe8{width:32px;height:32px;background-position:-33px -147px}
.sx_42df9c{width:32px;height:32px;background-position:-0px -147px}
.sx_0a68b2{width:15px;height:15px;background-position:-83px -152px}
.sx_fd9110{width:8px;background-position:-0px -180px}
.sx_271d77{background-position:-126px -152px}
.sx_424250{width:11px;background-position:-114px -152px}
.sx_7f83f2{background-position:-136px -152px}
.sx_f00b19{background-position:-146px -152px}
.sx_0d8e36{height:5px;background-position:-170px -152px}
.sx_5e6ec0{width:500px;height:48px;background-position:-0px -98px}
.sx_c1d9c7{width:500px;height:48px;background-position:-0px -49px}
.sx_188efe{width:500px;height:48px;background-position:-0px -0px}
.sp_7nodkk{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y6/r/79x_K5xzjuK.png);background-repeat:no-repeat;display:inline-block;height:14px;width:11px}
.sx_5ed6ef{height:11px;background-position:-11px -30px}
.selected .sx_5ed6ef{background-position:-0px -30px}
.sx_cbf1d0{height:11px;background-position:-11px -42px}
.selected .sx_cbf1d0{background-position:-0px -42px}
.sx_2dcb44{height:11px;background-position:-11px -54px}
.selected .sx_2dcb44{background-position:-0px -54px}
.sx_8517d0{width:8px;background-position:-8px -85px}
.selected .sx_8517d0{background-position:-0px -85px}
.sx_1634e9{width:8px;background-position:-8px -100px}
.selected .sx_1634e9{background-position:-0px -100px}
.sx_4fcbc4{width:12px;background-position:-12px -0px}
.selected .sx_4fcbc4{background-position:-0px -0px}
.sx_44bbcc{background-position:-11px -15px}
.selected .sx_44bbcc{background-position:-0px -15px}
.sx_e4fb5c{width:10px;height:10px;background-position:-0px -130px}
.sx_3d006f{width:8px;background-position:-8px -115px}
.selected .sx_3d006f{background-position:-0px -115px}
.sx_e1ee21{width:18px;height:18px;background-position:-0px -66px}
.sp_95obqc{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yg/r/rYcCE8RhaZ7.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_46041d{background-position:-16px -0px}
.selected .sx_46041d{background-position:-0px -0px}
.sx_dfaecf{background-position:-16px -17px}
.selected .sx_dfaecf{background-position:-0px -17px}
.sx_be16c9{background-position:-16px -34px}
.selected .sx_be16c9{background-position:-0px -34px}
.sx_539500{background-position:-16px -51px}
.selected .sx_539500{background-position:-0px -51px}
.sx_610874{background-position:-16px -68px}
.selected .sx_610874{background-position:-0px -68px}
.sx_bb8048{background-position:-0px -85px}
.sx_ce71b9{background-position:-0px -102px}
.sp_ctc6t6{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yi/r/CoUN0NqHxMj.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_0868d3{background-position:-16px -0px}
.selected .sx_0868d3{background-position:-0px -0px}
.sx_a8d061{background-position:-16px -17px}
.selected .sx_a8d061{background-position:-0px -17px}
.sx_9629c0{background-position:-16px -34px}
.selected .sx_9629c0{background-position:-0px -34px}
.sp_du7a4w{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/c4SspbjMWny.png);background-repeat:no-repeat;display:inline-block;height:14px;width:11px}
.sx_5b9296{width:7px;background-position:-300px -0px}
.sx_4c9e49{background-position:-36px -15px}
.selected .sx_4c9e49{background-position:-25px -15px}
.sx_2fec08{width:12px;background-position:-12px -15px}
.selected .sx_2fec08{background-position:-0px -15px}
.sx_a0dc7e{width:9px;height:12px;background-position:-57px -15px}
.selected .sx_a0dc7e{background-position:-48px -15px}
.sx_c9752e{width:5px;height:3px;background-position:-67px -15px}
.sx_71be6a{height:13px;background-position:-0px -30px}
.sx_69fc36{width:10px;height:13px;background-position:-12px -30px}

#bootloader_SqOVe { height: 42px; }